body {
  color: var(--text-primary-color);
  background-color: var(--background-color-primary);
  font-size: 16px;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px; /* 120% */
  letter-spacing: -1.2px;
  margin-bottom: 0;
}
